# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

.vscode/                        # ← 個人設定
.cache/                         # ← Babel / Metro 快取
metro-cache/
babel.config.js.__*__

ios/build/                      # ← iOS 原生建置
ios/Pods/
ios/*.xcworkspace
ios/xcuserdata/

android/.gradle/                # ← Android 原生建置
android/app/build/
android/.idea/

coverage/                       # ← 測試報告
*.lcov